.customRowEd {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}

.customRowEd div {
    margin: 0 1rem;
}

.customRowEd img {
    width: auto;
    height: 70vh;
}